# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  quality:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        bun-version: [latest]
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout Frontend Git Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install Packages
        run: bun install --frozen-lockfile

      - name: Run tests
        run: bun test

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: [quality]
    steps:
      - name: Checkout Frontend Git Repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org

      - name: Install Packages
        run: bun install --frozen-lockfile

      - name: Build npm package
        run: bun run build-lib

      - name: Publish to npm
        run: npm publish --access public
        working-directory: lib
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
